{% load static %}
<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer margin-top-50" >	
	<!-- Main -->
	<div class="container">
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-3 text-center">
				<p>© 2020 Wegogreenr</p>
			</div>
			<div class="col-md-3 text-center">
				<p><a href="#">Mentions Legales</a></p>
			</div>
			<div class="col-md-3 text-center">
				<p><a href="#">Confindentialite</a></p>
			</div>
			<div class="col-md-3 text-center">
				<p><a {% if "contact" in request.path %} class="current" {% endif %} href="{% url 'contact' %}">Contactez-nous</a></p>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->