{% load static %}
<!-- Header Container
================================================== -->
<header id="header-container">
	<!-- Header -->
	<div id="header" 
	{% if "/" not in request.path %}
	class="not-sticky"
	{% endif %}
	>
		<div class="container">			
			<!-- Left Side Content -->
			<div class="main-bav-side">				
				<!-- Logo -->
				<div id="logo">
					<a href="{% url 'home' %}"><img src="{% static 'images/logowgg.png' %}" data-sticky-logo="images/logowgg.png" alt=""></a>
				</div>
				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>
				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a  href="http://blog.wegogreenr.com">BLOG</a></li>

						<li><a href="#">NOTRE DEMARCHE</a></li>

						<li><a {% if "listings" in request.path %} class="current" {% endif %} href="#">HOUSING LIST</a>
							<ul>
								<li><a href="{% url 'home_listings' %}">HOUSING LIST</a></li>
								<li><a href="{% url 'housing_details' %}">HOUSING DETAIL</a></li>
							</ul>
						</li>

						<li><a {% if "contact" in request.path %} class="current" {% endif %} href="{% url 'contact' %}">CONTACT</a></li>
                        <li><a {% if "experience" in request.path %} class="current" {% endif %} href="{% url 'experience' %}">MENTIONS LEGALES</a></li>
                        <li><a href="#">CONFIDENTIALITE</a></li>
						
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->



		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->