{% extends 'layout/base.html' %}

{% load static  %}

{% block contents %}
<!-- Banner
================================================== -->
<div class="main-search-container centered" data-background-image="{% static 'images/main-search-background-01.jpg' %}">
	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-12 margin-bottom-35">
					<h2>
						Trouver  eco-responsable <span class="typed-words"></span>
						<!-- Typed words can be configured in script settings at the bottom of this HTML file -->
						
					</h2>
					<h4>Expolore top-rated attractions, activities and more</h4>

					
				</div>
			</div>
			<!-- Search -->
		<div class="col-md-12">
			<div class="main-search-input gray-style margin-top-0 margin-bottom-10">

				<div class="main-search-input-item location">
					<div id="autocomplete-container">
						<input id="autocomplete-input" type="text" placeholder="Location">
					</div>
					<a href="#"><i class="fa fa-map-marker"></i></a>
				</div>

				<div class="main-search-input-item">
					<div class="input-with-icon">
						<input type="text" placeholder="Check-In - Check-Out" id="booking-date-search" >
						<i class="fa fa-calendar"></i>
				    </div>
				</div>
				<div class="main-search-input-item booking-widget-home">
					<div class="panel-dropdown">
						<a href="#">Guests <span class="qtyTotal" name="qtyTotal">1</span></a>
						<div class="panel-dropdown-content">

							<!-- Quantity Buttons -->
							<div class="qtyButtons">
								<div class="qtyTitle">Adults</div>
								<input type="text" name="qtyInput" value="1">
							</div>

							<div class="qtyButtons">
								<div class="qtyTitle">Childrens</div>
								<input type="text" name="qtyInput" value="0">
							</div>

						</div>
					</div>
				</div>

				<button class="button">Search</button>
			</div>
		</div>
		<!-- Search Section / End -->
		</div>

	</div>
</div>




<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">
	<div class="container margin-bottom-35">
		<div class="row">
			<div class="col-md-4 ItemList">
				
				<div class="imgView">
					<img class="img-fluid" src="{% static 'images/category-box-03.jpg' %}" alt="">							
					<h4>Hotel Govendor</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and 
					typesetting industry. Lorem Ipsum has been the industry's 
					standard dummy text ever since the 1500s, when an unknown 
					printer took a galley of type and scrambled it to make a 
					type specimen book. It has survived not only five centuries, 
					but also the leap into electronic typesetting.
				</p>
			</div>
			<div class="col-md-4 ItemList">
				<div class="imgView">
					<img class="img-fluid" src="{% static 'images/category-box-03.jpg' %}" alt="">							
					<h4>Hotel Govendor</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and 
					typesetting industry. Lorem Ipsum has been the industry's 
					standard dummy text ever since the 1500s, when an unknown 
					printer took a galley of type and scrambled it to make a 
					type specimen book. It has survived not only five centuries, 
					but also the leap into electronic typesetting.
				</p>
			</div>
			<div class="col-md-4 ItemList">
				<div class="imgView">
					<img class="img-fluid" src="{% static 'images/category-box-03.jpg' %}" alt="">							
					<h4>Hotel Govendor</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and 
					typesetting industry. Lorem Ipsum has been the industry's 
					standard dummy text ever since the 1500s, when an unknown 
					printer took a galley of type and scrambled it to make a 
					type specimen book. It has survived not only five centuries, 
					but also the leap into electronic typesetting.
				</p>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					<strong class="headline-with-separator">Highlighted housing</strong>
					<span>Discover Top-Rated Local Businesses</span>
				</h3>
			</div>

			<div class="col-md-12">
				<div class="simple-slick-carousel dots-nav">

				<!-- Listing Item -->
				<div class="carousel-item">
					<a href="{% url 'housing_details' %}" class="listing-item-container">
						<div class="listing-item">
							<img src="{% static 'images/listing-item-01.jpg' %}" alt="">							
							<div class="listing-item-content">
								<span class="tag">$100 per night</span>
								<h3>Tom's Restaurant <i class="verified-icon"></i></h3>
								<span>964 School Street, New York</span>
							</div>
							
						</div>
					
					</a>
				</div>
				<!-- Listing Item / End -->

				<!-- Listing Item -->
				<div class="carousel-item">
					<a href="listings-single-page.html" class="listing-item-container">
						<div class="listing-item">
							<img src="{% static 'images/listing-item-02.jpg' %}" alt="">
							<div class="listing-item-content">
								<span class="tag">$40 per night</span>
								<h3>Sticky Band</h3>
								<span>Bishop Avenue, New York</span>
							</div>
							
						</div>
					
					</a>
				</div>
				<!-- Listing Item / End -->		

				<!-- Listing Item -->
				<div class="carousel-item">
					<a href="listings-single-page.html" class="listing-item-container">
						<div class="listing-item">
							<img src="{% static 'images/listing-item-03.jpg' %}" alt="">
							<div class="listing-item-content">
								<span class="tag">$59 per night</span>
								<h3>Hotel Govendor</h3>
								<span>778 Country Street, New York</span>
							</div>
							
						</div>
						
					</a>
				</div>
				<!-- Listing Item / End -->

				<!-- Listing Item -->
				<div class="carousel-item">
					<a href="listings-single-page.html" class="listing-item-container">
						<div class="listing-item">
							<img src="{% static 'images/listing-item-04.jpg' %}" alt="">

							<div class="listing-item-content">
								<span class="tag">$59 per night</span>
								<h3>Burger House <i class="verified-icon"></i></h3>
								<span>2726 Shinn Street, New York</span>
							</div>
						
						</div>
					</a>
				</div>
				<!-- Listing Item / End -->

				<!-- Listing Item -->
				<div class="carousel-item">
					<a href="listings-single-page.html" class="listing-item-container">
						<div class="listing-item">
							<img src="{% static 'images/listing-item-05.jpg' %}" alt="">
							<div class="listing-item-content">
								<span class="tag">$59 per night</span>
								<h3>Airport</h3>
								<span>1512 Duncan Avenue, New York</span>
							</div>
						
						</div>
					</a>
				</div>
				<!-- Listing Item / End -->

				<!-- Listing Item -->
				<div class="carousel-item">
					<a href="listings-single-page.html" class="listing-item-container">
						<div class="listing-item">
							<img src="{% static 'images/listing-item-06.jpg' %}" alt="">

							<div class="listing-badge now-closed">Now Closed</div>

							<div class="listing-item-content">
								<span class="tag">$59 per night</span>
								<h3>Think Coffee</h3>
								<span>215 Terry Lane, New York</span>
							</div>
						
						</div>
					</a>
				</div>
				<!-- Listing Item / End -->
				</div>
				
			</div>

		</div>
	</div>

</section>
<!-- Fullwidth Section / End -->

<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-35 margin-top-70">
				<strong class="headline-with-separator">Highlighted theme</strong>
				<span>Top destination à visiter en 2020</span></h3>
		</div>
		
		<div class="col-md-6">

			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box alternative-imagebox" data-background-image="{% static 'images/popular-location-01.jpg' %}">
				<div class="img-box-content visible">
					<h4>Bordeaux </h4>
					<span>14 Listings</span>
				</div>
			</a>

		</div>	
			
		<div class="col-md-6">

			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box alternative-imagebox" data-background-image="{% static 'images/popular-location-02.jpg' %}">
				<div class="img-box-content visible">
					<h4>Paris</h4>
					<span>24 Listings</span>
				</div>
			</a>

		</div>	

		<div class="col-md-4">
			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box alternative-imagebox" data-background-image="{% static 'images/popular-location-03.jpg' %}">
				<div class="img-box-content visible">
					<h4>Bayonne</h4>
					<span>12 Listings</span>
				</div>
			</a>
		</div>	
			
		<div class="col-md-4">
			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box alternative-imagebox" data-background-image="{% static 'images/popular-location-04.jpg' %}">
				<div class="img-box-content visible">
					<h4>Lille</h4>
					<span>9 Listings</span>
				</div>
			</a>
		</div>
			
		<div class="col-md-4">
			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box alternative-imagebox" data-background-image="{% static 'images/popular-location-05.jpg' %}">
				<div class="img-box-content visible">
					<h4>Marseille</h4>
					<span>5 Listings</span>
				</div>
			</a>
		</div>

	</div>
</div>


<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-35 margin-top-70">
				<strong class="headline-with-separator">Highlighted regions</strong>
				<span>Top destination à visiter en 2020</span></h3>
		</div>
		
		<div class="col-md-6">

			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box alternative-imagebox" data-background-image="{% static 'images/popular-location-01.jpg' %}">
				<div class="img-box-content visible">
					<h4>Bordeaux </h4>
					<span>14 Listings</span>
				</div>
			</a>

		</div>	
			
		<div class="col-md-6">

			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box alternative-imagebox" data-background-image="{% static 'images/popular-location-02.jpg' %}">
				<div class="img-box-content visible">
					<h4>Paris</h4>
					<span>24 Listings</span>
				</div>
			</a>

		</div>	

		<div class="col-md-4">
			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box alternative-imagebox" data-background-image="{% static 'images/popular-location-03.jpg' %}">
				<div class="img-box-content visible">
					<h4>Bayonne</h4>
					<span>12 Listings</span>
				</div>
			</a>
		</div>	
			
		<div class="col-md-4">
			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box alternative-imagebox" data-background-image="{% static 'images/popular-location-04.jpg' %}">
				<div class="img-box-content visible">
					<h4>Lille</h4>
					<span>9 Listings</span>
				</div>
			</a>
		</div>
			
		<div class="col-md-4">
			<!-- Image Box -->
			<a href="listings-list-with-sidebar.html" class="img-box alternative-imagebox" data-background-image="{% static 'images/popular-location-05.jpg' %}">
				<div class="img-box-content visible">
					<h4>Marseille</h4>
					<span>5 Listings</span>
				</div>
			</a>
		</div>

	</div>
</div>
{% endblock %}
{% block footer_scripts %}
<script src="{% static 'scripts/quantityButtons.js' %}"></script>
{% endblock %}