{% extends 'layout/base.html' %}

{% load static  %}

{% block contents %}
<!-- Slider
================================================== -->
<div class="listing-slider mfp-gallery-container margin-bottom-0">
	<a href="{% static 'images/single-listing-01.jpg' %}" data-background-image="{% static 'images/single-listing-01.jpg' %}" class="item mfp-gallery" title="Title 1"></a>
	<a href="{% static 'images/single-listing-02.jpg' %}" data-background-image="{% static 'images/single-listing-02.jpg' %}" class="item mfp-gallery" title="Title 3"></a>
	<a href="{% static 'images/single-listing-03.jpg' %}" data-background-image="{% static 'images/single-listing-03.jpg' %}" class="item mfp-gallery" title="Title 2"></a>
	<a href="{% static 'images/single-listing-04.jpg' %}" data-background-image="{% static 'images/single-listing-04.jpg' %}" class="item mfp-gallery" title="Title 4"></a>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row sticky-wrapper">
		<div class="col-lg-8 col-md-8 padding-right-30">

			<!-- Titlebar -->
			<div id="titlebar" class="listing-titlebar">
				<div class="listing-titlebar-title">
					<h2>Sunny Apartment <span class="listing-tag">Apartments</span></h2>
					<span>
						<a href="#listing-location" class="listing-address">
							<i class="fa fa-map-marker"></i>
							2726 Shinn Street, New York
						</a>
					</span>
					<!-- <div class="star-rating" data-rating="5">
						<div class="rating-counter"><a href="#listing-reviews">(31 reviews)</a></div>
					</div> -->
				</div>
			</div>

			<!-- Listing Nav -->
			<div id="listing-nav" class="listing-nav-container">
				<ul class="listing-nav">
					<li><a href="#listing-overview" class="active">Overview</a></li>
					<!-- <li><a href="#listing-pricing-list">Pricing</a></li> -->
					<li><a href="#listing-location">Location</a></li>
					<!-- <li><a href="#listing-reviews">Reviews</a></li>
					<li><a href="#add-review">Add Review</a></li> -->
				</ul>
			</div>
			
			<!-- Overview -->
			<div id="listing-overview" class="listing-section">

				<!-- Description -->

				<p>
					Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus.
				</p>

				<p>
					 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.
				</p>
				
				
				<!-- Listing Contacts -->
				<!-- <div class="listing-links-container">

					<ul class="listing-links contact-links">
						<li><a href="tel:12-345-678" class="listing-links"><i class="fa fa-phone"></i> +12 345 6578</a></li>
						<li><a href="mailto:mail@example.com" class="listing-links"><i class="fa fa-envelope-o"></i> mail@example.com</a>
						</li>
						<li><a href="#" target="_blank"  class="listing-links"><i class="fa fa-link"></i> www.example.com</a></li>
					</ul>
					<div class="clearfix"></div>

					<ul class="listing-links">
						<li><a href="#" target="_blank" class="listing-links-fb"><i class="fa fa-facebook-square"></i> Facebook</a></li>
						<li><a href="#" target="_blank" class="listing-links-yt"><i class="fa fa-youtube-play"></i> YouTube</a></li>
						<li><a href="#" target="_blank" class="listing-links-ig"><i class="fa fa-instagram"></i> Instagram</a></li>
						<li><a href="#" target="_blank" class="listing-links-tt"><i class="fa fa-twitter"></i> Twitter</a></li>
					</ul>
					<div class="clearfix"></div>

				</div> -->
				<div class="clearfix"></div>


				<!-- Amenities -->
				<!-- <h3 class="listing-desc-headline">Amenities</h3>
				<ul class="listing-features checkboxes margin-top-0">
					<li>Elevator in building</li>
					<li>Friendly workspace</li>
					<li>Instant Book</li>
					<li>Wireless Internet</li>
					<li>Free parking on premises</li>
					<li>Free parking on street</li>
				</ul> -->
			</div>

            <div class="col-md-12">
                <h4 class="headline margin-top-70 margin-bottom-30">Equipments</h4>
    
                <!-- Toggles Container -->
                <div class="style-2">
    
                    <!-- Toggle 1 -->
                    <div class="toggle-wrap">
                        <span class="trigger "><a href="#">First Toggle<i class="sl sl-icon-plus"></i></a></span>
                        <div class="toggle-container">
                            <ul class="listing-features checkboxes margin-top-0">
                                <li>Elevator in building</li>
                                <li>Friendly workspace</li>
                                <li>Instant Book</li>
                                <li>Wireless Internet</li>
                                <li>Free parking on premises</li>
                                <li>Free parking on street</li>
                            </ul>
                        </div>
                    </div>
                        <!-- Toggle 2 -->
                        <div class="toggle-wrap">
                            <span class="trigger "><a href="#">Second Toggle<i class="sl sl-icon-plus"></i></a></span>
                            <div class="toggle-container">
                                <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>

                            </div>
                        </div>
                    <!-- Toggle 3 -->
                    <div class="toggle-wrap">
                        <span class="trigger"><a href="#"><i class="sl sl-icon-pin"></i>Third Toggle<i class="sl sl-icon-plus"></i> </a></span>
                        <div class="toggle-container">
                            <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>
                        </div>
                    </div>
    
                </div>
                <!-- Toggles Container / End -->
            </div>

            <div class="col-md-12">
                <h4 class="headline margin-top-70 margin-bottom-30">Engagements Eco-responsables</h4>
    
                <!-- Toggles Container -->
                <div class="style-2">
    
                    <!-- Toggle 1 -->
                    <div class="toggle-wrap">
                        <span class="trigger "><a href="#">First Toggle<i class="sl sl-icon-plus"></i></a></span>
                        <div class="toggle-container">
                            <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>

                        </div>
                    </div>
                      <!-- Toggle 2 -->
                      <div class="toggle-wrap">
                        <span class="trigger "><a href="#">Second Toggle<i class="sl sl-icon-plus"></i></a></span>
                        <div class="toggle-container">
                            <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>

                        </div>
                    </div>
    
                    <!-- Toggle 3 -->
                    <div class="toggle-wrap">
                        <span class="trigger"><a href="#"><i class="sl sl-icon-pin"></i>Third Toggle<i class="sl sl-icon-plus"></i> </a></span>
                        <div class="toggle-container">
                            <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu.</p>
                        </div>
                    </div>
    
                </div>
                <!-- Toggles Container / End -->
            </div>		
			<!-- Location -->
			<div id="listing-location" class="listing-section">
				<h3 class="listing-desc-headline margin-top-60 margin-bottom-30">Location</h3>

				<div id="singleListingMap-container">
					<div id="singleListingMap" data-latitude="40.70437865245596" data-longitude="-73.98674011230469" data-map-icon="im im-icon-Hamburger"></div>
					<a href="#" id="streetView">Street View</a>
				</div>
			</div>
		</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-lg-4 col-md-4 margin-top-75 sticky">

				
			<!-- Verified Badge -->
			<!-- <div class="verified-badge with-tip" data-tip-content="Listing has been verified and belongs the business owner or manager.">
				<i class="sl sl-icon-check"></i> Verified Listing
			</div> -->

			<!-- Book Now -->
			<div id="booking-widget-anchor" class="boxed-widget booking-widget margin-top-35">
				<h3><i class="fa fa-calendar-check-o "></i> Booking</h3>
				<div class="row with-forms  margin-top-0">

					<!-- Date Range Picker - docs: http://www.daterangepicker.com/ -->
					<div class="col-lg-12">
                        <div class="input-with-icon">
                            <input type="text" placeholder="Check-In - Check-Out" id="booking-date-search" >
                            <i class="fa fa-calendar"></i>
                    </div>	
                </div>

					<!-- Panel Dropdown -->
					<div class="col-lg-12">
                        <div class="panel-dropdown">
                            <a href="#">Guests <span class="qtyTotal" name="qtyTotal">1</span></a>
                            <div class="panel-dropdown-content">

                                <!-- Quantity Buttons -->
                                <div class="qtyButtons">
                                    <div class="qtyTitle">Adults</div>
                                    <input type="text" name="qtyInput" value="1">
                                </div>

                                <div class="qtyButtons">
                                    <div class="qtyTitle">Childrens</div>
                                    <input type="text" name="qtyInput" value="0">
                                </div>

                            </div>
                        </div>
					</div>
					<!-- Panel Dropdown / End -->

					<!-- Text Box -->
					<div class="col-lg-12">
                        <input type="text" placeholder="Firstname" value="">
                    </div>
                    <div class="col-lg-12">
                        <input type="text" placeholder="Lastname" value="">
                    </div>
                    <div class="col-lg-12">
                        <input type="email" placeholder="email" value="">
                    </div>
                    <div class="col-lg-12">
                        <input type="tel" placeholder="phone" value="">
                    </div>
                    <div class="col-lg-12">
                        <textarea>Comment</textarea>
					</div>
					

				</div>
				
				<!-- Book Now -->
				<a href="#" class="button book-now fullwidth margin-top-5">Request Booking</a>
			</div>
			<!-- Book Now / End -->

			<!-- Coupon Widget -->
	      <!-- Opening Hours -->

			<!-- Opening Hours / End -->


			<!-- Contact -->
			<div class="boxed-widget margin-top-35">
				<div class="hosted-by-title">
					<h4><span>Added by</span> <a href="#">Tom Perrin</a></h4>
					<a href="#" class="hosted-by-avatar"><img src="{% static 'images/dashboard-avatar.jpg' %}" alt=""></a>
				</div>
			   <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.
               </p>

			</div>
			<!-- Contact / End-->


			<!-- Share / Like -->

		</div>
		<!-- Sidebar / End -->

	</div>
</div>

{% endblock %}
{% block footer_scripts %}
<script src="{% static 'scripts/quantityButtons.js' %}"></script>
{% endblock %}