{% extends 'layout/base.html' %}

{% load static  %}

{% block header_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js" integrity="sha256-QHdJObhDO++VITP6S4tMlDHRWMaUOk+s/xWIRgF/YY0=" crossorigin="anonymous"></script>
{% endblock %}
{% block contents %}

<div class="fs-container">

	<div class="fs-inner-container content">
		<div class="fs-content">

			<!-- Search -->
			<section class="search">

				<div class="row">
					<div class="col-md-12">

							<!-- Row With Forms -->
							<div class="row with-forms ">
							

								<!-- Main Search Input -->
								<div class="col-fs-3 booking-widget">
									<div class="panel-dropdown">
										<a href="#">Guests <span class="qtyTotal" name="qtyTotal">1</span></a>
										<div class="panel-dropdown-content">

											<!-- Quantity Buttons -->
											<div class="qtyButtons">
												<div class="qtyTitle">Adults</div>
												<input type="text" name="qtyInput" value="1">
											</div>

											<div class="qtyButtons">
												<div class="qtyTitle">Childrens</div>
												<input type="text" name="qtyInput" value="0">
											</div>

										</div>
									</div>
								</div>

								<!-- Main Search Input -->
								<div class="col-fs-3 ">
									<div class="input-with-icon location">
							
										<div id="autocomplete-container">
											<input id="autocomplete-input" type="text" placeholder="Location">
										</div>
										<a href="#"><i class="fa fa-map-marker"></i></a>
									</div>
								</div>

								<div class="col-fs-6">
									<div class="input-with-icon">
											<input type="text" placeholder="Check-In - Check-Out" id="booking-date-search" >
											<i class="fa fa-calendar"></i>
									</div>
								</div>

								
						

								<!-- Filters -->
								<div class="col-fs-12">

									<!-- Panel Dropdown / End -->
									<div class="panel-dropdown">
										<a href="#">Categories</a>
										<div class="panel-dropdown-content checkboxes categories">
											
											<!-- Checkboxes -->
											<div class="row">
												<div class="col-md-6">
													<input id="check-1" type="checkbox" name="check" checked class="all">
													<label for="check-1">All Categories</label>

													<input id="check-2" type="checkbox" name="check">
													<label for="check-2">Shops</label>

													<input id="check-3" type="checkbox" name="check">
													<label for="check-3">Hotels</label>
												</div>	

												<div class="col-md-6">
													<input id="check-4" type="checkbox" name="check" >
													<label for="check-4">Eat & Drink</label>

													<input id="check-5" type="checkbox" name="check">
													<label for="check-5">Fitness</label>	

													<input id="check-6" type="checkbox" name="check">
													<label for="check-6">Events</label>
												</div>
											</div>
											
											<!-- Buttons -->
											<div class="panel-buttons">
												<button class="panel-cancel">Cancel</button>
												<button class="panel-apply">Apply</button>
											</div>

										</div>
									</div>
									<!-- Panel Dropdown / End -->

									<!-- Panel Dropdown -->
									<div class="panel-dropdown wide">
										<a href="#">More Filters</a>
										<div class="panel-dropdown-content checkboxes">

											<!-- Checkboxes -->
											<div class="row">
												<div class="col-md-6">
													<input id="check-a" type="checkbox" name="check">
													<label for="check-a">Elevator in building</label>

													<input id="check-b" type="checkbox" name="check">
													<label for="check-b">Friendly workspace</label>

													<input id="check-c" type="checkbox" name="check">
													<label for="check-c">Instant Book</label>

													<input id="check-d" type="checkbox" name="check">
													<label for="check-d">Wireless Internet</label>
												</div>	

												<div class="col-md-6">
													<input id="check-e" type="checkbox" name="check" >
													<label for="check-e">Free parking on premises</label>

													<input id="check-f" type="checkbox" name="check" >
													<label for="check-f">Free parking on street</label>

													<input id="check-g" type="checkbox" name="check">
													<label for="check-g">Smoking allowed</label>	

													<input id="check-h" type="checkbox" name="check">
													<label for="check-h">Events</label>
												</div>
											</div>
											
											<!-- Buttons -->
											<div class="panel-buttons">
												<button class="panel-cancel">Cancel</button>
												<button class="panel-apply">Apply</button>
											</div>

										</div>
									</div>
									<!-- Panel Dropdown / End -->

									<!-- Panel Dropdown -->
									<div class="panel-dropdown">
										<a href="#">Distance Radius</a>
										<div class="panel-dropdown-content">
											<input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="Radius around selected destination">
											<div class="panel-buttons">
												<button class="panel-cancel">Disable</button>
												<button class="panel-apply">Apply</button>
											</div>
										</div>
									</div>
									<!-- Panel Dropdown / End -->

										<!-- Panel Dropdown -->
									<div class="panel-dropdown">
										<a href="#">Price Filter</a>
										<div class="panel-dropdown-content">
											<input class="pricing-range" type="range" min="1" max="100000" step="1" value="100" data-title="Select min and max price range">
											<div class="panel-buttons">
												<button class="panel-cancel">Disable</button>
												<button class="panel-apply">Apply</button>
											</div>
										</div>
									</div>
									<!-- Panel Dropdown / End -->
									
								</div>
								<!-- Filters / End -->
	
							</div>
							<!-- Row With Forms / End -->

					</div>
				</div>

			</section>
			<!-- Search / End -->

        <section class="listings-container margin-top-30">
		    <div class="row fs-switcher">  
			    <div class="col-md-12">
					<!-- Showing Results -->
					<h4>Experience In The Spotlight</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				</div>
            </div>
		</section>
		<section class="listings-container margin-top-30">

			<!-- Sorting / Layout Switcher -->
			<div class="row fs-switcher">   
			   	<div class="col-md-6 col-xs-6">
					<!-- Layout Switcher -->
					<div class="layout-switcher">
						<a href="javascript:void(0);" id="grid" class="listtype active"><i class="fa fa-th"></i></a>
						<a href="javascript:void(0);" id="list" class="listtype"><i class="fa fa-align-justify"></i></a>
					</div>
				</div>

				<div class="col-md-6 col-xs-6">
					<!-- Sort by -->
					<div class="sort-by">
						<div class="sort-by-select">
							<select data-placeholder="Default order" class="chosen-select-no-single">
								<option>Default Order</option>	
								<option>Highest Rated</option>
								<option>Most Reviewed</option>
								<option selected>Newest Listings</option>
								<option>Oldest Listings</option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<!-- Showing Results -->
					<p class="showing-results">&nbsp;</p>
				</div>

			</div>


			<!-- Listings -->
			<div class="row fs-listings" id="listing-items-container">
				

				<!-- Listing Item -->
				<div class="col-lg-6 col-md-12">
					<a href="listings-single-page.html" class="listing-item-container compact" data-marker-id="3">
						<div class="listing-item">
							<img src="images/listing-item-03.jpg" alt="">
							<div class="listing-item-details">
								<ul>
									<li>Starting from $59 per night</li>
								</ul>
							</div>
							<div class="listing-item-content">
								<div class="numerical-rating" data-rating="2.0"></div>
								<h3>Hotel Govendor</h3>
								<span>778 Country Street, New York</span>
							</div>
							
						</div>

					</a>
				</div>
				<!-- Listing Item / End -->

			</div>
			<!-- Listings Container / End -->


			<!-- Pagination Container -->
			<div class="row fs-listings">
				<div class="col-md-12">

					<!-- Pagination -->
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12">
							<!-- Pagination -->
							<div class="pagination-container margin-top-15 margin-bottom-40">
								<nav class="pagination">
									<ul>
										<li><a href="#" class="current-page">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<!-- Pagination / End -->
					
					<!-- Copyrights -->
					<div class="copyrights margin-top-0">© 2019 Listeo. All Rights Reserved.</div>

				</div>
			</div>
			<!-- Pagination Container / End -->
		</section>

		</div>
	</div>
	<div class="fs-inner-container map-fixed">

		<!-- Map -->
		<div id="map-container">
		    <div id="map" data-map-zoom="9" data-map-scroll="true">
		        <!-- map goes here -->
		    </div>
		</div>

	</div>
</div>
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'scripts/quantityButtons.js' %}"></script>
<script>

const imagelistingUrl = "{% static 'images/listing-item-0' %}"

// Add Items as grid
let getGridItems  = ()=>{
   let gridStr = ''	;
   [...Array(10)].forEach((_, i) => {
	   let rating = faker.finance.amount(0,5,1);
	   let imageno = faker.random.number({min:1, max:6});
	   let imgurl  = `${imagelistingUrl}${imageno}.jpg`
	   let verified = faker.random.number(1)
	   let isOpen   = faker.random.number(1)
	   let liked    = faker.random.number(1)
       gridStr += `<div class="col-lg-6 col-md-12">
					<a href="listings-single-page.html" class="listing-item-container compact" data-marker-id="3">
						<div class="listing-item">
							<img src="${imgurl}" alt="">
							${isOpen ? '<div class="listing-badge now-open">Now Open</div>':''}
							
							
							<div class="listing-item-content">
							    
						    	<span class="tag"><i class="fa fa-tag"></i>$6 - $25</span>
								<h3>${faker.lorem.sentence(2)}  ${verified ? '<i class="verified-icon"></i>':''}</h3>
								<span>${faker.address.streetAddress("###")} </span>
							</div>
							<span class="like-icon ${liked?'liked':''}"></span>
						</div>

					</a>
				</div>`;
   });

   $("#listing-items-container").html(gridStr)

}

// Add items as List
let getListItems  = ()=>{
   let gridStr = ''	;
   [...Array(10)].forEach((_, i) => {
	   let rating = faker.finance.amount(0,5,1);
	   let imageno = faker.random.number({min:1, max:6});
	   let imgurl  = `${imagelistingUrl}${imageno}.jpg`
	   let verified = faker.random.number(1)
	   let isOpen   = faker.random.number(1)
	   let liked    = faker.random.number(1)

       gridStr += `<div class="col-lg-12 col-md-12">
					<div class="listing-item-container list-layout">
						<a href="listings-single-page.html" class="listing-item">
							
							<!-- Image -->
							<div class="listing-item-image">
								<img src="${imgurl}" alt="">
								<span class="tag"><i class="fa fa-tag"></i>$6 - $25</span>

							</div>
							
							<!-- Content -->
							<div class="listing-item-content">
								${isOpen? '<div class="listing-badge now-open">Now Open</div>':''}
								<div class="listing-item-inner">
								    
									<h3>${faker.lorem.sentence(2)} ${verified? '<i class="verified-icon"></i>':''}</h3>
									<span>${faker.address.streetAddress("###")}</span>
									<div class="star-rating ${rating>=4?'high':''}" data-rating="${rating}">
										<div class="rating-counter">(${faker.random.number({min:0, max:100})} reviews)</div>
									</div>
								</div>

								<span class="like-icon ${liked?'liked':''}"></span>
							</div>
						</a>
					</div>
				</div>`;
   });

   $("#listing-items-container").html(gridStr)

}
$(function(){
   getGridItems();
   $(".listtype").click((e)=>{
	   let ID  = $(e.currentTarget).attr('id');
	   $('.listtype').toggleClass('active')
	  
	   if(ID==='list'){
		   getListItems()
	   }else{
		   getGridItems()
	   }
   })   

})
</script>
<!-- Google Autocomplete -->
<script>
	function initAutocomplete() {
	  var input = document.getElementById('autocomplete-input');
	  var autocomplete = new google.maps.places.Autocomplete(input);
  
	  autocomplete.addListener('place_changed', function() {
		var place = autocomplete.getPlace();
		if (!place.geometry) {
		  return;
		}
	  });
  
	  if ($('.main-search-input-item')[0]) {
		  setTimeout(function(){ 
			  $(".pac-container").prependTo("#autocomplete-container");
		  }, 300);
	  }
  }
  </script>
  
  <!-- Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"></script>
  <script type="text/javascript" src="{% static 'scripts/infobox.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/markerclusterer.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/maps.js' %}"></script>
  
  <script>
	  // infoBox Rating Type
	  var infoBox_ratingType = 'numerical-rating';
  </script>
{% endblock %}