{% load static  %}
<!DOCTYPE html>
<head>
<!-- Basic Page Needs
================================================== -->
<title>We go greenr</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/main-color.css' %}" id="colors">
{% block header_scripts %}{% endblock %}
</head>
<body 
{% if "/" == request.path %}
class="transparent-header"
{% endif %}
>
<!-- Wrapper -->
<div id="wrapper">
{% include 'partials/_navbar.html' %} 
{% block contents %}{% endblock %}
{% include 'partials/_footer.html'%} 
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery-migrate-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/mmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/chosen.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/rangeslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/magnific-popup.min.js' %}"></script>

<script type="text/javascript" src="{% static 'scripts/waypoints.min.js' %}"></script>

<script type="text/javascript" src="{% static 'scripts/counterup.min.js' %}"></script>

<script type="text/javascript" src="{% static 'scripts/jquery-ui.min.js' %}"></script>

<script type="text/javascript" src="{% static 'scripts/tooltips.min.js' %}"></script>
<script src= 'https://www.google.com/recaptcha/api.js?render={{site_key}}'></script>
<script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>



<!-- Leaflet // Docs: https://leafletjs.com/ -->
<script type="text/javascript" src="{% static 'scripts/leaflet.min.js' %}"></script>

<!-- Leaflet Maps Scripts -->
<script type="text/javascript" src="{% static 'scripts/leaflet-markercluster.min.js' %}"></script>

<script type="text/javascript" src="{% static 'scripts/leaflet-gesture-handling.min.js' %}"></script>

<script type="text/javascript" src="{% static 'scripts/leaflet-listeo.js' %}"></script>


<!-- Leaflet Geocoder + Search Autocomplete // Docs: https://github.com/perliedman/leaflet-control-geocoder -->
<script type="text/javascript" src="{% static 'scripts/leaflet-autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/leaflet-control-geocoder.js' %}"></script>

<!-- Typed Script -->
<script type="text/javascript" src="{% static 'scripts/typed.js' %}"></script>
<script>
var typed = new Typed('.typed-words', {
strings: ["Attractions"," Restaurants"," Hotels"],
	typeSpeed: 80,
	backSpeed: 80,
	backDelay: 4000,
	startDelay: 1000,
	loop: true,
	showCursor: true
});
</script>
<!-- Date Range Picker - docs: http://www.daterangepicker.com/ -->
<script src="{% static 'scripts/moment.min.js' %}"></script>
<script src="{% static 'scripts/daterangepicker.js' %}"></script>

{% block footer_scripts %}{% endblock %}
<script>
$(function() {

    var start = moment().subtract(0, 'days');
    var end = moment().add(2, 'days');

    function cb(start, end) {
        $('#booking-date-search').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    cb(start, end);
    $('#booking-date-search').daterangepicker({
    	"opens": "right",
	    "autoUpdateInput": true,
	    "alwaysShowCalendars": true,
        startDate: start,
        endDate: end
    }, cb);

    cb(start, end);

});

// Calendar animation and visual settings
$('#booking-date-search').on('show.daterangepicker', function(ev, picker) {
	$('.daterangepicker').addClass('calendar-visible calendar-animated bordered-style');
	$('.daterangepicker').removeClass('calendar-hidden');
});
$('#booking-date-search').on('hide.daterangepicker', function(ev, picker) {
	$('.daterangepicker').removeClass('calendar-visible');
	$('.daterangepicker').addClass('calendar-hidden');
});

$(window).on('load', function() {
    $('#booking-date-search').val('');
});
</script>


</body>
</html>